{% extends "main/base.html" %}
{% load static %}
{% block myProfile_active %}
{% endblock %}
{% block title %}Gigel - {{ user.artist.artist_name }}{% endblock %}

{% block content %}

<div class='container text-center'>
<!-- <p>{{ user.id }}</p>
<p>{{ user.profile.id }}</p>
<p>{{ user.profile.account_type }}</p> -->

{% if user.venue %}
<!-- ~~~~~~~~~~~~~~~~~~~~~~ Venue profile ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="profile container card">
        <h1 id="venue_name" class='name'>{{ user.venue.venue_name }}</h1>
        <div class="row p-4">
            <div class="col-sm img-container">
                <img class="img-thumbnail profile_detail_pic" id="venue_profile_pic" src="{{ MEDIA_URL }}{{ user.venue.venue_profile_pic}}"/>
            </div>
            <div class="col-sm card">
                <h3 id="venue_genres" class='name'>{{ user.venue.venue_genres }}</h3>
                <h3 id="venue_location" class='name'>{{ user.venue.venue_location }}</h3>
                <h3 id="venue_description" class='name'>{{ user.venue.venue_description }}</h3>
            </div>
        </div>
        <div class="row p-4">
            <a id="venue_update" href="/venue/update/{{user.venue.venue_id}}"><button class='btn btn-primary'>Edit details</button></a>
            <a id="venue_delete" href="/venue/delete/{{user.venue.venue_id}}"><button class='btn btn-danger'>Delete my venue</button></a>
        </div>
    </div>
{% endif %}

{% if user.artist %}
<!-- ~~~~~~~~~~~~~~~~~~~~~~ Artist profile ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="profile container card">
        <h1 id="artist_name" class='name'>{{ user.artist.artist_name }}</h1>
        <div class="row p-4">
            <div class="col-md col-6 m-4 img-container text-center">
                <img class="img-thumbnail profile_detail_pic" id="artist_profile_pic" src="{{ MEDIA_URL }}{{ user.artist.artist_profile_pic }}"/>
            </div>
            <div class="col-md col-6 m-4 p-0 card bg-dark">
                <div class="card-header p-0"><h3>Details</h3></div>
                <div class="card-body">
                <h3 id="artist_genres" class='name'>Genre: {{ user.artist.artist_genres }}</h3>
                <h3 id="artist_location" class='name'>Location: {{ user.artist.artist_location }}</h3>
                <h3 id="artist_description" class='name'>Description:{{ user.artist.artist_description}}</h3>
            </div>
            </div>
        </div>
        <div class="row p-4">
            <a id="artist_update" href="/artist/update/{{user.artist.artist_id}}"><button class='btn btn-primary'>Edit details</button></a>
            <a id="artist_delete" href="/artist/delete/{{user.artist.artist_id}}"><button class='btn btn-danger'>Delete my artist</button></a>
        </div>
    </div>

{% endif %}

<!-- ~~~~~~~~~~~~~~~~~~~~~~ My gigs ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="container">
        <h1>My Gigs</h1>
    </div>
        <div id="my_gigs" class="container card">
        {% for gig in gigs %}
        <div class="row directory_entry m-2" id="link_{{ gig.gig_name }}">
            <div class="col">
            <a href="{% url 'gig_detail' gig.gig_id %}">
                {{ gig.gig_date }}</a></div>
            <div class="col">
            <a href="{% url 'artist_detail' gig.gig_artist.artist_id %}">
            {{ gig.gig_artist }}</a></div>
            <div class="col"><a href="{% url 'venue_detail' gig.gig_venue.venue_id %}">
            {{ gig.gig_venue }}</a></div>
         </div>
      {% empty %}
            <div class="row noDataText">We didn't find anything :-(</div>
      {% endfor %}
            <a id="create_gig" href="{% url 'gig_create' %}"><button class='btn btn-primary'>Create a new gig</button></a>
    </div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~ Gig requests ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="container">

        <h1>My requests</h1>
    </div>
        <div id="my_gig_requests" class="container card">
        <h3>Pending Gig requests</h3>
            {% for gig_request in gig_requests %}
                {% if gig_request.gig_request_confirmed != True %}
                    <div class="row directory_entry m-2" id="link_{{gig_request.gig_request_name}}" name="{{gig_request.gig_request_name }}">
                            <div class="col-sm">
                                <a href="{% url 'gig_request_detail' gig_request.gig_request_id %}">
                                    {{ gig_request.gig_request_date }}
                                </a>
                            </div>
                            <div class="col-sm"><a href="{% url 'artist_detail' gig_request.gig_request_artist.artist_id %}">
                            {{ gig_request.gig_request_artist }}</a></div>
                            <div class="col-sm"><a href="{% url 'venue_detail' gig_request.gig_request_venue.venue_id %}">
                            {{ gig_request.gig_request_venue }}</a></div>
                            <div class="col-lg">
                                <a class="text-secondary" href="{% url 'gig_request_detail' gig_request.gig_request_id %}">
                                {{ gig_request.gig_request_message }}
                                </a>
                            </div>
                    </div>
                {% endif %}
                {% empty %}
                    <div class="row noDataText">We didn't find anything :-(</div>
            {% endfor %}
            <a><button type="button" class="btn btn-info" data-trigger="focus" data-toggle="popover" data-placement="bottom" title="Gig requests" data-content="To make a requests head to a venue or artist and click 'request'">How do I make a gig request?</button></a>
        </div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~ Historic Gig requests ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="my_accepted_gig_requests" class="container card">
        <h3>Accepted Gig requests</h3>
            {% for gig_request in gig_requests %}
                {% if gig_request.gig_request_confirmed %}
                <div class="row directory_entry m-2" id="link_{{gig_request.gig_request_name}}" name="{{gig_request.gig_request_name }}">
                        <div class="col-sm">
                            <a href="{% url 'gig_request_detail' gig_request.gig_request_id %}">
                                {{ gig_request.gig_request_date }}
                            </a>
                        </div>
                        <div class="col-sm"><a href="{% url 'artist_detail' gig_request.gig_request_artist.artist_id %}">
                        {{ gig_request.gig_request_artist }}</a></div>
                        <div class="col-sm"><a href="{% url 'venue_detail' gig_request.gig_request_venue.venue_id %}">
                        {{ gig_request.gig_request_venue }}</a></div>
                        <div class="col-lg">
                            <a class="request" href="{% url 'gig_request_detail' gig_request.gig_request_id %}">
                            {{ gig_request.gig_request_message }}
                            </a>
                        </div>
                </div>
                {% endif %}
                {% empty %}
                    <div class="row noDataText">We didn't find anything :-( </div>
            {% endfor %}
            <a><button type="button" class="btn btn-info" data-trigger="focus" data-toggle="popover" data-placement="bottom" title="Gig requests" data-content="To accept a requests Click on a request and choose accept.'">How do I accept a gig request?</button></a>

    </div>

</div>

{% endblock %}
