{% extends "main/base.html" %}
{% load static %}
{% block myProfile_active %}active{% endblock %}
{% block title %}{{ user.username }}
  - User Profile{% endblock %}

{% block headerText %}{{ user.username }}
{% endblock %}

{% block content %}

  <div id="grid" class=" container text-center px-5 pb-5">

    <div class="row pb-5 text-center">
      <div class="col-4">
        <div id="user_info" class="container">
          <!-- user information -->
          <ul>
            <li id="username">Username -
              {{ user.username }}</li>
            <li id="email">Email -
              {{ user.email }}</li>
            <li id="county">County -
              {{ user.profile.county }}</li>
            <li id="membershipLevel">Membership Level -
              {{ user.profile.membershipLevel }}</li>
            <li id="birth_date">DOB -
              {{ user.profile.birth_date }}</li>
            <li id="confrimation_status">User Confirmed? -
              {{ user.profile.confrimation_status }}</li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <a href="{% url 'updateProfile' %}">
          <img id="updateProfile" src="{% static 'img/temp.png' %}" class="img-fluid" alt="Pic">
        </a>
      </div>
      <div class="col-4">
        <img src="{% static 'img/temp.png' %}" class="img-fluid" alt="Pic">
      </div>
    </div>

    <div class="row text-center">
      <div class="col-4 ">
        <img src="{% static 'img/temp.png' %}" class="img-fluid" alt="Pic">
      </div>
      <div class="col-4">
        <img src="{% static 'img/temp.png' %}" class="img-fluid" alt="Pic">
      </div>
      <div class="col-4">
        <img src="{% static 'img/temp.png' %}" class="img-fluid" alt="Pic">
      </div>
    </div>

  </div>

</div>
</div>

{% endblock %}