{% extends "main/base.html" %}
{% load static %}
{% block myProfile_active %}active{% endblock %}
{% block title %}{{ user.username }}
  - User Profile{% endblock %}

{% block headerText %}{{ user.username }}
{% endblock %}

{% block content %}

  <div id="grid" class=" container text-center px-5 pb-5">

    <div class="row pb-5 text-center">
      <div class="col-4">
        <h3></h3>
        <div id="user_info" class="container">
          <!-- user information -->
          <ul>
              id = {{ user.id }}, pk = {{ user.pk }}
            <li id="username">Username -
              {{ user.username }}</li>
            <li id="email">Email -
              {{ user.email }}</li>
            <li id="id_county">County -
              {{ user.profile.county }}</li>
              <li id="id_county">Account Type -
                {{ user.profile.account_type }}</li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <h3>Update Profile</h3>
        <a href="/profile/update/{{user.pk }}">
          <img id="updateProfile" src="{% static 'img/temp.png' %}" class="img-fluid" alt="Pic">
        </a>
      </div>
      <div class="col-4">
        <h3>My Gigs</h3>
        <img src="{% static 'img/temp.png' %}" class="img-fluid" alt="Pic">
      </div>
    </div>

    <div class="row text-center">
      <div class="col-4 ">
          {%  if user.artist  %}
              <h3>My artist/venue profile</h3>
              <a id="artist_dashboard" href="{% url 'artist_dashboard' %}">
          {% else %}
              <h3>create an artist or venue profile</h3>
              <a id="artven" href="{% url 'artven' %}">
          {% endif %}
          <img src="{% static 'img/temp.png' %}" class="img-fluid" alt="Pic">
        </a>
      </div>
      <div class="col-4">
        <h3>Settings</h3>
        <img src="{% static 'img/temp.png' %}" class="img-fluid" alt="Pic">
      </div>
      <div class="col-4">
        <h3>Request support</h3>
        <img src="{% static 'img/temp.png' %}" class="img-fluid" alt="Pic">
      </div>
    </div>

  </div>
{% endblock %}
