<!doctype html>
<html lang="en">
{% load static %}
<!-- ~~~~~~~~~~~~~~~~~~~~~~ Head and Meta ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Load bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>

  <body>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ Navbar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <!-- Logo - to add later when designed-->
          <span class="navbar-brand giggel_G">G</span>
          <!-- dropdown for small screens -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--links -->
            <ul class="navbar-nav mr-auto">
              <!-- home -->
              <li class="nav-item {% block home_active %}{% endblock %}">
                <a class="nav-link" id="home" name="home" href="{% url 'home' %}">Home</a>
              </li>
              <!-- My profile -->
              <li class="nav-item {% block myProfile_active %}{% endblock %}">
                <a class="nav-link" id="myProfile" name="myProfile" href="{% url 'profile' %}">My profile</a>
              </li>
              <!-- Artists -->
              <li class="nav-item">
                <a class="nav-link" id="artist_directory" href="{% url 'artist_directory' %}">Artists</a>
              </li>
              <!-- Venues -->
              <li class="nav-item">
                <a class="nav-link" id="venue_directory" href="{% url 'venue_directory' %}">Venues</a>
              </li>
              <!-- Gigs -->
              <li class="nav-item">
                <a class="nav-link" id='gig_directory' href="{% url 'gig_directory' %}">Gigs</a>
              </li>
              <!-- if admin show django admin -->
              {% if user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link"  id="django-admin" name="Django admin" href="{% url 'admin:index' %}">Django-admin</a>
              </li>
              {% endif %}
            </ul>

            <!-- right side of nav -->
            <ul class="navbar-nav mr">
            <!-- show log out button and user pic if logged in-->
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" id="logout" name="logout" href="{% url 'logout' %}">Log out</a>
                </li>
                <!-- show current user name -->
                <li class="nav-item">
                  <p class="nav-link disabled" name="loggedInUser" href="#">Current user:
                    {{ user.username }}</p>
                </li>
                <!-- show user profile pic -->
                <li>
                  <a class="navbar-brand float-left" href="{% url 'profile' %}"><img class="profile_pic_mini" src="{% static 'img/temp.png' %}" width="30" height="30" alt=""></a>
                </li>
              {% else %}
                <!-- show log in and sign up buttons -->
                <li class="nav-item">
                  <a class="nav-link" name="signup" href="{% url 'django_registration_register' %}">Sign up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" name="login" href="{% url 'login' %}">Log in</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ messages ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <header>
      <div id="messages">
        <!-- display any messges -->
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <p{% if message.tags %} class="alert alert-{{ message.tags }} text-center" {% endif %}>{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <!-- display any form errors -->
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      </header>

<!-- ~~~~~~~~~~~~~~~~~~~~~~ Main page content ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <main>
            {% block content %}{% endblock %}
      </main>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <footer class="page-footer font-small bg-secondary">
        <div class="text-center">
          <p>Design - 2019 a scratcherd</p>
        </div>
      </footer>

<!-- ~~~~~~~~~~~~~~~~~~~~~~ JS script libraries ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

      <script src="https://kit.fontawesome.com/db3a26830e.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="{% static 'js/scripts.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
  </body>
</html>
