<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Load bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Logo - to add later when designed-->
      <a class="navbar-brand" href=""><img src="{% static 'img/temp.png' %}" width="30" height="30" alt=""></a>
      <!-- dropdown for small screens -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!--links -->
          <li class="nav-item {% block home_active %}{% endblock %}">
            <a class="nav-link" name="home" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item {% block myProfile_active %}{% endblock %}">
            <a class="nav-link" name="myProfile" href="{% url 'profile' %}">My profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" name="Django admin" href="{% url 'admin:index' %}">Django-admin</a>
          </li>
          <li class="nav-item {% block settings_active %}{% endblock %}">
            <a class="nav-link" name="settings" href="#">Settings</a>
          </li>
          <!-- dropdown menu -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="directories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Directories</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" id="artist_directory" href="{% url 'artist_directory' %}">Artists</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" id="venue_directory" href="{% url 'venue_directory' %}">Venues</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" id='gig_directory' href="{% url 'gig_directory' %}">Gigs</a>
          {% if user.is_authenticated %}
          <li class="nav-item {% block add_gig_active %}{% endblock %}">
              <a class="nav-link" name="add_gig" href="{% url 'gig_create' %}"> Add a gig</a>
          </li>
          {% endif %}
            </div>
          </li>
        </ul>
        <!-- right side of nav -->
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
            <!-- show log out button nd user info + pic-->
            <li class="nav-item">
              <a class="nav-link" name="logout" href="{% url 'logout' %}">Log out</a>
            </li>
            <li class="nav-item">
              <p class="nav-link disabled" name="loggedInUser" href="#">Current user:
                {{ user.username }}</p>
            </li>
            <li>
              <a class="navbar-brand float-left" href="{% url 'profile' %}"><img class="circle" src="{% static 'img/temp.png' %}" width="30" height="30" alt=""></a>
            </li>
          {% else %}
            <!-- show log in and sign up buttons -->
            <li class="nav-item">
              <a class="nav-link" name="signup" href="{% url 'django_registration_register' %}">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" name="login" href="{% url 'login' %}">Log in</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- header content logo etc.. -->
    <header>
        <div class="jumbotron text-center h1 giggel-header" style="background-image: url("{% static 'img/negative-space-crowd-rock-concert-nainoa-shizuru.jpg' %}") >
        {% block headerText %}{% endblock %}
      </div>
    </header>

    <div id="messages">
    <!-- display any messges -->
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <p{% if message.tags %} class="alert alert-{{ message.tags }} text-center" {% endif %}>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
    </div>

    <!-- main page content -->
    {% block content %}



    {% endblock %}
  </main>

  <!-- Footer -->
  <footer class="page-footer font-small bg-secondary">
    <div class="text-center py-2">
      <p>Design - 2019 a scratcherd</p>
    </div>
  </footer>

</body>

<!-- Load javascript libraries -->
<script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
