<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Load bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Logo - to add later when designed-->
      <a class="navbar-brand" href="#"><img src="" width="30" height="30" alt=""></a>
      <!-- dropdown for small screens -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!--links -->
          <li class="nav-item {% block home_active %}{% endblock %}">
            <a class="nav-link" name="home" href="/">Home</a>
          </li>
          <li class="nav-item {% block myProfile_active %}{% endblock %}">
            <a class="nav-link" name="myProfile" href="#">My profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" name="Django admin" href="/admin">Django-admin</a>
          </li>
          <li class="nav-item {% block settings_active %}{% endblock %}">
            <a class="nav-link" name="settings" href="#">Settings</a>
          </li>
          <!-- dropdown menu -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Directories</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Artists</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Venues</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Gigs</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- header content logo etc.. -->
    <header>
      {% block header %}{% endblock %}
    </header>

    <!-- main content -->
    <main>
      {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="page-footer font-small bg-secondary">

      <!-- Copyright -->
      <div class="text-center py-2">
        <p>Design - 2019 a scratcherd</p>
      </div>
      <!-- Copyright -->

      {% block footer %}{% endblock %}
    </footer>

  </body>

  <!-- Load javascript libraries -->
  <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>