<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Load bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/animate.js' %}"></script>
<script src="https://kit.fontawesome.com/db3a26830e.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
  <div id="shroud" class="animatable">
    <div id="shroud_interior">
          <header>
              <div id="" class="gigel jumbotron text-center">
              <span id="gigel" class="gigel animatable"><span class="highlight">G</span><span class="highlight">i</span><span class="highlight">G</span><span class="highlight">e</span><span class="highlight">l</span></span>
            </div>
          </header>


<div class="menu">


        <div class='circle flash inactive' id='main'>
          G
          <div class='click jump'>
          <i class="fas fa-hand-point-up"></i>     <i class="fas fa-mouse-pointer"></i>
        </div>
        </div>


{% if user.is_authenticated %}

        <a href="{% url 'profile' %}">
        <div class='circle circle_top animatable' id='profile'>
          <span class='first_letter'>P</span>rofile
        </div>
        </a>

        <a href="{% url 'gig_directory' %}">
        <div class='circle animatable' id='gigs'>
           <span class='first_letter'>G</span>igs
        </div>
        </a>

{% else %}

        <div class='circle circle_top animatable' id='login'>
          <span class='first_letter'>L</span>og In
        </div>

        <a href="{% url 'django_registration_register' %}">
        <div class='circle animatable' id='gigs'>
           <span class='first_letter'>S</span>ign Up
        </div>
        </a>

        <div id="login_form" class="lightbox hidden">
          <!-- x to close box -->
          <span class="close">&times;</span>
          <h2>Log In</h2>

          <form class="" method="post" action="{% url 'login' %}">
            {% csrf_token %}

            {{ form.as_p }}

            <input id="submit" type="submit" value="login">

            <p>forgotten your password??</p>
            <a href="{% url 'password_reset' %}">
              <button type="button" class="btn btn-warning">Reset password</button>
            </a>
          </div>

{% endif %}


        <a href="{% url 'artist_directory' %}">
        <div class='inactive artists circle animatable' id='artists'>
           <span class='first_letter'>A</span>rtists
        </div>
        </a>

        <a href="{% url 'venue_directory' %}">
        <div class='circle animatable' id='venues'>
          <span class='first_letter'>V</span>enues
        </div>

<!-- artist subcricles -->

        <a href="{% url 'artist_directory' %}">
        <div class='artists circle subcircle animatable' id='subc1'>
           <span class='first_letter'>D</span>irectory
        </div>
        </a>

        <a href="{% url 'gig_directory' %}">
        <div class='artists circle subcircle animatable' id='subc2'>
           <span class='first_letter'>A</span>nother
        </div>
        </a>

</div>
</a>

</div>



</div>
</body>
