<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Load bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/animate.js' %}"></script>
 <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
  <header>
      <div id="" class="gigel jumbotron text-center">
      <span id="gigel" class="gigel animatable"><span class="highlight">G</span><span class="highlight">i</span><span class="highlight">G</span><span class="highlight">e</span><span class="highlight">l</span></span>
    </div>
  </header>

<div class='circle inactive' id='main'>
  G
  <div class='click'>
  click^
</div>
</div>



<a href="{% url 'profile' %}">
<div class='circle animatable' id='profile'>
  <span class='first_letter'>P</span>rofile
</div>
</a>

<a href="{% url 'gig_directory' %}">
<div class='circle animatable' id='gigs'>
   <span class='first_letter'>G</span>igs
</div>
</a>

<a href="{% url 'artist_directory' %}">
<div class='circle animatable' id='artists'>
   <span class='first_letter'>A</span>rtists
</div>
</a>


<a href="{% url 'venue_directory' %}">
<div class='circle animatable' id='venues'>
  <span class='first_letter'>V</span>enues
</div>
</a>






</body>
