{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="container text-center">
  <h1>login</h1>

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    {{ form|crispy }}

    <input id="submit" type="submit" value="login">

    <p>forgotten your password??</p>
    <a href="{% url 'password_reset' %}">
      <button type="button" class="btn btn-outline-warning">Reset password</button>
    </a>
  {% endblock %}
</div>
