{% extends 'main/base.html' %}

{% block title %}Enter new password{% endblock %}
{% block content %}
  {% if validlink %}
    <div class="alert alert-warning text-center">
      <p>Please set a new password</p>
    </div>
    <div class="text-center">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn-primary m-3" id="submit" type="submit" value="Confirm">
      </form>
    </div>
  {% else %}
    <div class="alert alert-danger text-center">
      <p>What you playing at? That's not a valid link.</p>
    </div>
  {% endif %}
{% endblock %}