{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Enter new password{% endblock %}
{% block content %}
  {% if validlink %}
    <div class="btn btn-outline-danger text-center">
      <p>Please set a new password</p>
    </div>
    <div class="text-center">
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn-primary m-3" id="submit" type="submit" value="Confirm">
      </form>
    </div>
  {% else %}
    <div class="btn btn-outline-danger text-center">
      <p>What you playing at? That's not a valid link.</p>
    </div>
  {% endif %}
{% endblock %}
