{% extends "main/base.html" %}
{% load static %}
{% block myProfile_active %}Venue -
  {{ user.Venue.venue_name }}
{% endblock %}
{% block title %}Venue{% endblock %}

{% block content %}

<div class="profile container">
    <div class="row">
        <div class="col">
            <img class="img-thumbnail" id="venue_profile_pic"
                 src="{{ MEDIA_URL }}{{ venue.venue_profile_pic}}"/>
        </div>
        <div class="col">
            <h1 id="venue_name" class='name'>{{ venue.venue_name }}</h1>
            <h3 id="venue_genres" class='name'>{{ venue.venue_genres }}</h3>
            <h3 id="venue_location" class='name'>{{ venue.venue_location }}</h3>
            <p id="venue_description" class='description'>{{ venue.venue_description }}</p>
        </div>
    </div>
    {% if user.artist %}
    <div class="row">
        <div class="buttons">
            <a class="btn btn-outline-info" id='request_gig_at_venue'
               href="{% url 'gig_request' %}?gig_request_venue={{ venue.venue_id }}">
               request gig here</a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
