
{% extends "main/base.html" %}
{% load static %}
{% block myProfile_active %}
{% endblock %}
{% block title %}Venue{% endblock %}

{% block headerText %}
  {{ user.venue.venue_name }}
{% endblock %}

{% block content %}
  <ul>
    <li id="venue_id">venue id:
      {{ user.venue.venue_id }}</li>
    <li id="venue_name">venue name:
      {{ user.venue.venue_name }}</li>
    <li id="venue_owner">venue owner:
      {{ user.venue.venue_owner }}</li>
    <li id="venue_description">venue description:
      {{ user.venue.venue_description }}</li>
  </ul>

  <a id="venue_update" href="/venue/update/{{user.venue.venue_id}}"><button class=' alert alert-info'>Edit details</button><a/>
    <a id="venue_delete" href="/venue/delete/{{user.venue.venue_id}}"><button class='alert alert-danger'>Delete my venue</button><a/>
  {% endblock %}
