
{% extends "main/base.html" %}
{% load static %}
{% block myProfile_active %}
{% endblock %}
{% block title %}Venue{% endblock %}

{% block headerText %}
  {{ user.venue.venue_name }}
{% endblock %}

{% block content %}
<div class='container text-center'>
  <ul>
    <li id="venue_id">venue id:
      {{ user.venue.venue_id }}</li>
    <li id="venue_name">venue name:
      {{ user.venue.venue_name }}</li>
    <li id="venue_owner">venue owner:
      {{ user.venue.venue_owner }}</li>
    <li id="venue_description">venue description:
      {{ user.venue.venue_description }}</li>
  </ul>

  <a id="venue_update" href="/venue/update/{{user.venue.venue_id}}"><button class=' alert alert-info'>Edit details</button><a/>
    <a id="venue_delete" href="/venue/delete/{{user.venue.venue_id}}"><button class='alert alert-danger'>Delete my venue</button><a/>


      <h1>My Gigs</h1>

      <ul>
          {% for gig in gigs %}
          <li id="link_{{ gig.gig_name }}">
            <a href='{% url 'gig_detail' gig.gig_id %}'>{{ gig.gig_name }}
            -  {{ gig.gig_artist }} @ {{ gig.gig_venue }} on {{ gig.gig_date }}</a>

          {% empty %}
              <li>We didn't find anything!</li>
          {% endfor %}
      </ul>

      <a id="create_gig" href="{% url 'gig_create' %}"><button class="alert alert-info">Create a new gig</button></a>


    <h1>My requests</h1>

    <h3>Pending Gig requests</h3>
    <ul>
        {% for gig_request in gig_requests %}
        {% if gig_request.gig_request_confirmed != True %}
        <li id="link_{{gig_request.gig_request_name}}" name="{{gig_request.gig_request_name }}">
          <a href='{% url 'gig_request_detail' gig_request.gig_request_id %}'>{{ gig_request.gig_request_name }}
          -  {{ gig_request.gig_request_artist }} @ {{ gig_request.gig_request_venue }} on {{ gig_request.gig_request_date}}</a>
        {% endif %}
            {% empty %}
              <li>We didn't find anything!</li>
    {% endfor %}
    </ul>
    <h3>Accepted Gig requests</h3>
    <ul>
        {% for gig_request in gig_requests %}
        {% if gig_request.gig_request_confirmed %}
        <li name="{{gig_request.gig_request_name }}">
          <a href='{% url 'gig_request_detail' gig_request.gig_request_id %}'>{{ gig_request.gig_request_name }}
          -  {{ gig_request.gig_request_artist }} @ {{ gig_request.gig_request_venue }}</a>
        {% endif %}


        </li>
    {% endfor %}
    </ul>


    </div>

  {% endblock %}
