:root {
  --main-text-color: #FFFEF6;
  --color2: #EFCF00;
  --color3: #ff4109;
  --hlink: #EFCF00;
  --bg1: #ffc100;
  --bg2: #232323;
  --bg-dark: #342700;
  --title-color: #333333;
  --header-color: #111111;
  --circ_up: -12vmin;
  --circ_down: 12vmin;
  --circ_left: -15vmin;
  --circ_right: 15vmin;
  --sub_circ_up: -23vmin;
  --sub_circ_down: -23vmin;
  --sub_circ_left: -20vmin;
  --sub_circ_right: 14vmin;
  --menu-duration: 1s;
}

p, h1, h2, h3, h4, a {
color: var(--main-text-color);
color: black;
}

ul {
  list-style: none;
}

a:hover {
  text-decoration: none;
}
