:root {
  --main-text-color: #FFFEF6;
  --color2: #EFCF00;
  --color3: #ff4109;
  --hlink: #EFCF00;
  --bg1: #ffc100;
  --bg2: #232323;
  --bg-dark: #342700;
  --title-color: #333333;
  --header-color: #111111;
  --circ_up: -12vmin;
  --circ_down: 12vmin;
  --circ_left: -15vmin;
  --circ_right: 15vmin;
  --sub_circ_up: -23vmin;
  --sub_circ_down: -23vmin;
  --sub_circ_left: -20vmin;
  --sub_circ_right: 14vmin;
  --menu-duration: 1s;
}

p, h1, h2, h3, h4, a {
color: var(--main-text-color);
color: black;
}

ul {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.navbar {
  height: 50px;
  width: 100%;
  background-color: grey;
}

#main {
/* background-image: url("../img/alcohol-bar-beer-941864.jpg"); */
background-color: white;
background-size: cover;
height: 98vh;
width: 100%;
margin:auto;
font-family: helvetica;
/* overflow: hidden; */
}

#aside {
height: 98vh;
background-color: rgb(102,102,102,0.8);
padding: 1% 1% 0% 1%;
text-align: center;
}

.closed {
  /* transform: translateX(-240px);
  transition: transform 1s ease-in-out; */
}

#content {
height: 98vh;
/* border: 1px solid red; */
text-align: center;
overflow: hidden;
/* padding: 10% 10% 0% 10%; */
}

.page_title {
  font-size: 5em;
  color: rgb(102,102,102,0.8);
}

.close {
  background-color: white;
  height:33px;
  width: 33px;
  border-radius: 100%;
  opacity: 100;
  z-index:1000;
  position: absolute;
  right: -13px;
  top: 40%;
  margin: -2%;
  color:red;
  cursor: pointer;
  padding-top: 3px;
  display: none;
}

.nav_list>ul {
  padding: 0;
  /* border: 1px solid green; */
}

.navlist_item {
margin-bottom: 3%;
width: 100%;
background-color: grey;
padding-bottom: 0.1%;
}

.nav_list_item_title{
margin-bottom: 3%;
width: 100%;
font-size: 1rem;
}

.nav_list_item_subtitle{
margin-bottom: 3%;
width: 100%;
font-size: 0.8rem;
line-height: 1px;
}

.pagination  {
  position: absolute;
  width:100%;
  color: red;
  left:0;
}

.pagination>span  {
  margin: 0 auto;
}

.pagination a  {
  color: red;
}

/* smaller */

.detail_box {
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  position: relative;
  width: 320px;
  height: 500px;
  margin: 10vh auto;
  border-radius: 1%;
  opacity: 50;
  padding: 50px 10px;
  display: none;
}

.detail_box ul {
  padding: 0;
  line-height: 30px;
}

.detail_box .buttons {
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 2px;
}

.list_entry {
  border: 1px solid grey;
  border-radius: 1%
  height: 15vh;
  text-align: center;
  margin: 1% 10%;
}


.list_entry img {
height: 100%;
max-width: 14vh;
padding: 0;
margin: 0;
}

.list_entry:hover {
  background-color: grey;
  margin: 1% 9%;
  transition: all 0.3s;
}

#artist_profile_pic {
  width: 30%;
  max-width: 100%;
}

@media all and (max-width:1200px)
{
/* no room for sidebar at this size */
  #aside {
    display: none;
  }

  #content {
    max-width: 99vw;
    width:99vw;
  }


}
