.close {
  float: right;
  margin: -2%;
  color:red;
}

#login_form {
  position: relative;
  opacity:60;
  height: 50%;
  width: 20%;
  margin-left: 40vw;
  margin-top: 23vh;
  z-index: 110;
  border-radius: 5%;
  padding:5%;
  text-align: center;
  background-color: #EFCF0000;
  transition-property: all;
  transition-delay: 1s;
  transition-duration: 2s;
}

#login_form.show {
  transition-property: all;
  transition-delay: 1s;
  transition-duration: 2s;
  display: block;
  background-color: #AD9000;
}

#login_form.hidden {
  opacity: 0;
  transition-property: all;
  transition-delay: 0.2s;
  transition-duration: 2s;
  display: none;
  background-color: #EFCF0000;
}

#shroud {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index:40;
}

#shroud.animate {
  animation-name: darker;
  animation-duration: var(--menu-duration);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes darker {
  from {background-color: var(--bg1);}
  to {background-color: var(--bg-dark);
  }
}

#shroud.deanimate {
  animation-name: dedarker;
  animation-duration: var(--menu-duration);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}


@keyframes dedarker {
  from {background-color: var(--bg-dark);}
  to {background-color: var(--bg1);
  }
}

#main {
  z-index: 100;
  top: 0; left: 0; bottom: 0; right: 0;
}

.click {
}

.hide{
  display: none;
}

.circle{
  /* background-image: url("../img/circle.png"); */
  /* background-size: cover; */
  background-color: var(--color3);
  color: var(--main-color);
  border-radius: 100%;
  font-size: 1.5em;
  width: 10vmin;
  height: 10vmin;
  margin: auto;
  text-align: center;
  line-height:5vw;
  position: absolute;
  z-index: 90;
  top: 0; left: 0; bottom: 0; right: 0;
}

.subcircle{
  z-index: 80;
}


.circle_top.animate {
  animation-name: profile;
  animation-duration: var(--menu-duration);
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes profile {
  from {transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(var(--circ_up));
    opacity:100;
  }
}


.circle_top.deanimate {
  animation-name: deprofile;
  animation-duration: var(--menu-duration);
  animation-delay: 0;
}

@keyframes deprofile {
  from {transform: translateY(var(--circ_up));
    opacity:100;
  }
  to {
    transform: translateY(0);
    opacity:0;
  }
}

/* Gigs */

#gigs.animate {
  animation-name: gigs;
  animation-duration: var(--menu-duration);
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes gigs {
  from {transform: translateY(0);
    opacity:0;
  }
  to {
    transform: translateY(var(--circ_down));
    opacity:100;
  }
}

#gigs.deanimate {
  animation-name: degigs;
  animation-duration: var(--menu-duration);
  animation-delay: 0;
}

@keyframes degigs {
  from {transform: translateY(var(--circ_down));
        opacity: 100;
  }
  to {
    transform: translateY(0px);
    opacity:0 }
}

/* venues */


#venues.animate {
  animation-name: venues;
  animation-duration: var(--menu-duration); var(--menu-duration)
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes venues {
  from {transform: translateX(0);
    opacity:0;
  }
  to {
    transform: translateX(var(--circ_right));
    opacity:100;
  }
}

#venues.deanimate {
  animation-name: devenues;
  animation-duration: var(--menu-duration);
  animation-delay: 0;
}

@keyframes devenues {
  from {transform: translateX(var(--circ_right));
        opacity: 100;
  }
  to {
    transform: translateX(0px);
    opacity:0 }
}


/* artists */

.artists.animate {
  animation-name: artists;
  animation-duration: var(--menu-duration);
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes artists {
  from {transform: translateX(0);
    opacity:0;
  }
  to {
    transform: translateX(var(--circ_left));
    opacity:100;
  }
}

.artists.deanimate {
  animation-name: deartists;
  animation-duration: var(--menu-duration); 0.5s;
  animation-delay: 0;
}

@keyframes deartists {
  from {transform: translateX(var(--circ_left));
        opacity: 100;
  }
  to {
    transform: translateX(0px);
    opacity:0 }
}


/* subcircles ---------------------------------------------------------------------------------------------- */

#subc1.sub_animate {
  animation-name: subc1;
  animation-duration: var(--menu-duration); 0.5s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes subc1 {
  from {transform: translateX(0);
    transform: translateY(0);
    opacity:0;
  }
  to {
    transform: translate(var(--sub_circ_left), var(--circ_up));
    opacity:100;
  }
}

#subc1.sub_deanimate {
  animation-name: desubc1;
  animation-duration: var(--menu-duration); 0.5s;
  animation-delay: 0;
  opacity: 0;
}

@keyframes desubc1 {
  from {transform: translate(var(--sub_circ_left), var(--circ_up));
  }
  to {
    transform: translateX(0px);
    opacity:0 }
}

/* subc2 */

#subc2.sub_animate {
  animation-name: subc2;
  animation-duration: var(--menu-duration); 0.5s;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes subc2 {
  from {transform: translate(0,0);
    opacity:0;
  }
  to {
    transform: translate(var(--sub_circ_left), var(--circ_down));
    opacity:100;
  }
}

#desubc2.sub_deanimate {
  animation-name: desubc2;
  animation-duration: var(--menu-duration); 0.5s;
  animation-delay: 0;
}

@keyframes desubc2 {
  from {transform: translate(var(--sub_circ_left), var(--circ_down));
    opacity: 100;
  }
  to {
    transform: translate(0,0);
    opacity:0 }
}


/* flash  ---------------------------------------------------------------------------------------*/

.flash {
  animation-name: flash;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-duration: var(--menu-duration); 2s;
}

@keyframes flash {
  0% {
      color: #FFFFFF;
  }
  20% {
      color: #c9c9c9;
  }
  40% {
      color: #7a7a7a;
  }
  60% {
      color: #333333;
  }
  80% {
      color: #7a7a7a;
  }
  100% {
      color: #c9c9c9;
}
}

.click {
  font-size: 1.5em;
}

.jump {
  animation-name: jump;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-duration: var(--menu-duration); 1s;
}

@keyframes jump {
  from {transform: translateY(0);}
  to {transform: translateY(-2vmin);}
}

/* title */

#gigel.animate {
  animation-name: title;
  animation-duration: var(--menu-duration); 1s;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes title {
  from {color: var(--title-color);}
  to {color: transparent;}
}

#gigel.deanimate {
  animation-name: detitle;
  animation-duration: var(--menu-duration); 1s;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes detitle {
  from {color: transparent;}
  to {color: var(--title-color);}
}

.highlight:hover {
  color: var(--main-color);
}

.gigel {
  background-color: transparent;
  color: var(--title-color);
  font-size: 20vh;
  position: fixed;
  top: 10vh; left: 0; bottom: 0; right: 0;
  z-index: -10;
}

.first_letter::first-letter {
  color: #FDED2A;
}
