{% extends "main/base.html" %}
{% load static %}
{% block myProfile_active %}
{% endblock %}
{% block title %}Gigel - {{ user.artist.artist_name }}{% endblock %}

{% block content %}

<div class='container text-center'>

    <div class="profile container">
        <div class="row">
            <div class="col">
                <img class="img-thumbnail" id="artist_profile_pic" src="{{ MEDIA_URL }}{{ artist.artist_profile_pic}}"/>
            </div>
            <div class="col">
                <h1 class='name'>{{ user.artist.artist_name }}</h1>
                <h3 class='name'>{{ user.artist.artist_genres }}</h3>
                <h3 class='name'>{{ user.artist.artist_location }}</h3>
                <h3 class='name'>{{ user.artist.artist_profile_pic }}</h3>
            </div>
        </div>
        <a id="artist_update" href="/artist/update/{{user.artist.artist_id}}"><button class=' alert alert-info'>Edit details</button><a/>
        <a id="artist_delete" href="/artist/delete/{{user.artist.artist_id}}"><button class='alert alert-danger'>Delete my artist</button><a/>
    </div>

    <div id="my_gigs" class="container">
        <h1>My Gigs</h1>

            {% for gig in gigs %}
            <div class="row" id="link_{{ gig.gig_name }}">
                <a href="{% url 'gig_detail' gig.gig_id %}">
                    {{ gig.gig_date }} -
                    {{ gig.gig_artist }} @
                    {{ gig.gig_venue }}
                </a>
         </div>
          {% empty %}
                <div class="row">We didn't find anything!</div>
          {% endfor %}

        <a id="create_gig" href="{% url 'gig_create' %}"><button class="alert alert-info">Create a new gig</button></a>
    </div>

    <div id="my_gig_requests" class="container">
        <h1>My requests</h1>
        <h3>Pending Gig requests</h3>
            {% for gig_request in gig_requests %}
                {% if gig_request.gig_request_confirmed != True %}
                    <div class="row" id="link_{{gig_request.gig_request_name}}" name="{{gig_request.gig_request_name }}">
                            <div class="col">
                                <a href="{% url 'gig_request_detail' gig_request.gig_request_id %}">
                                    {{ gig_request.gig_request_date }}
                                </a>
                            </div>
                            <div class="col">{{ gig_request.gig_request_artist }}</div>
                            <div class="col">{{ gig_request.gig_request_venue }}</div>

                    </div>
                {% endif %}
                {% empty %}
                    <div class="row">-
                    </div>
            {% endfor %}

        <h3>Accepted Gig requests</h3>
            {% for gig_request in gig_requests %}
                {% if gig_request.gig_request_confirmed %}
                    <div class="row" name="{{gig_request.gig_request_name }}">
                            <div class="col">
                                <a href="{% url 'gig_request_detail' gig_request.gig_request_id %}">
                                    {{ gig_request.gig_request_date }}
                                </a>
                            </div>
                            <div class="col">{{ gig_request.gig_request_artist }}</div>
                            <div class="col">{{ gig_request.gig_request_venue }}</div>
                    </div>
                {% endif %}
                {% empty %}
                    <div class="row">-
                    </div>
            {% endfor %}
    </div>
</div>

 {% endblock %}
