{% extends "main/base.html" %}
{% load static %}
{% block myProfile_active %}Artist -
  {{ user.Artist.artist_name }}
{% endblock %}
{% block title %}Artist{% endblock %}

{% block headerText %}{{ user.username }}
{% endblock %}

{% block content %}

<div class="profile container">
    <div class="row">
        <div class="col">
            <img class="img-thumbnail" id="artist_profile_pic" src="{{ MEDIA_URL }}{{ user.artist.artist_profile_pic}}"/>
        </div>
        <div class="col">
            <h1 class='name'>{{ artist.artist_name }}</h1>
            <h3 class='name'>{{ artist.artist_genres }}</h3>
            <h3 class='name'>{{ artist.artist_location }}</h3>
        </div>
    </div>
</div>
<div class="profile container">
    <h3 class='description'>{{ artist.artist_description }}</h3>
</div>

<a class="btn btn-outline-info" id='request_gig_from_artist' href="{% url 'gig_request_to_artist' %}?gig_request_artist={{ artist.artist_id }}">
    Request artist to play at your venue </a>

{% endblock %}
