{% extends "main/base.html" %}
{% load static %}
{% block myProfile_active %}Artist -
  {{ user.Artist.artist_name }}
{% endblock %}
{% block title %}Artist{% endblock %}

{% block headerText %}{{ user.username }}
{% endblock %}

{% block content %}

<h1 class='title'>  {{ artist.artist_name }} </h1>
<img id="artist_profile_pic" src="{% static 'img/artist_profile/adult-artists-back-view-354304.jpg' %}"/>


<ul>
  <li id="artist_description">artist description:
    {{ artist.artist_description }}</li>
</ul>

<a id='request_gig_from_artist' href="{% url 'gig_request_to_artist' %}?gig_request_artist={{ artist.artist_id }}"> request artist to play at your venue </a>

{% endblock %}
