{% extends "main/base.html" %}
{% load static %}
{% block myProfile_directories %}active
{% endblock %}
{% block title %}Artist directory{% endblock %}

{% block headerText %}Artists
{% endblock %}

{% block content %}

<div class="directory container">
    {% for artist in object_list %}
        <a href="{% url 'artist_detail' artist.artist_id %}">
            <div class="row">
                <div class="col-5">
                    <img class="img-thumbnail" src="{{ MEDIA_URL }}{{ artist.artist_profile_pic}}" id="{{ artist.artist_id }}_artist_pic"></img>
                </div>
                <div class="col-7">
                        <p id="{{ artist.artist_id }}_artist_name">{{ artist.artist_name }}</p>
                        <p id="{{ artist.artist_id }}_artist_town">{{ artist.artist_location }}</p>
                        <p id="{{ artist.artist_id }}_artist_genres">{{ artist.artist_genres }}</p>
                </div>
            </div>
        </a>
        <span class="line"></span>
    {% endfor %}
</div>

{% endblock %}
