{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block myProfile_active %}Artist -
  {{ user.Artist.artist_name }}
{% endblock %}
{% block title %}Update artist{% endblock %}

{% block headerText %}{{ user.username }}
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Update</legend>
        {{ form|crispy}}
      </fieldset>
      <div class="form-group">
        <button id="submit" class="btn btn-outline-info" type="submit">Update</button>
        <a href="{% url 'profile' %}" class="btn btn-outline-danger">Cancel</a>
      </div>
    </form>
</div>

{% endblock %}
