
{% extends "main/base.html" %}
{% load static %}
{% block title %}{{ gig.gig_date }} - {{ gig.gig_artist }} - {{ gig.gig_venue }}{% endblock %}


{% block content %}
<div class="profile container">
    <div class="row">
        <div class="col">
            <img class="img-thumbnail" id="gig_profile_pic" src="{{ MEDIA_URL }}{{ gig.gig_profile_pic}}"/>
            <img class="img-thumbnail" id="gig_profile_pic" src="{{ MEDIA_URL }}{{ gig.gig_profile_pic}}"/>
        </div>
        <div class="col">
            <h1 class='name'>{{ gig.gig_date}}</h1>
            <h3 class='name'>{{ gig.gig_artist }}</h3>
            <h3 class='name'>{{ gig.gig_venue }}</h3>
            <h3 class='name'>{{ gig.gig_venue.venue_location }}</h3>
            <h3 class='name'>{{ gig.gig_artist.artist_genres }}</h3>
            <h3 class='description'>{{ gig.gig_description }}</h3>
        </div>
     </div>
     <div class="buttons">
         <a id="update_gig" href="{% url 'gig_update' gig.gig_id %}"><button class="btn btn-outline-primary">Update</button></a>
         <a id="delete_gig" href="{% url 'gig_delete' gig.gig_id %}"><button class='btn btn-outline-danger'>Delete gig</button></a>
     </div>
</div>
{% endblock %}
