{% extends "main/base.html" %}
{% load static %}
{% block title %}Gigle - Gigs{% endblock %}

{% block headerText %}Gigs{% endblock %}

{% block content %}

    <div class="directory container">
<!-- -----------------filters --------------------------- -->
        <form class="form" action="" method="get">
            <div class="form-row align-items-center">
                    {{ form.non_field_errors }}

                <div class="fieldWrapper">
                    {{ filter.form.gig_artist.errors }}
                    <label class"" for="{{ filter.form.gig_artist.id_for_label }}">gig_artist:</label>
                    {{ filter.form.gig_artist }}
                </div>

                <div class="fieldWrapper">
                    {{ filter.form.gig_venue.errors }}
                    <label for="{{ filter.form.gig_venue.id_for_label }}">gig_venue:</label>
                    {{ filter.form.gig_venue }}
                </div>

                <div class="fieldWrapper">
                    {{ filter.form.gig_date.errors }}
                    <label for="{{ filter.form.gig_date.id_for_label }}">Dates:</label>
                    {{ filter.form.gig_date }}
                </div>

                    <button type="submit" class="btn btn-outline-info">Filter</button>
            </div>
        </form>

<!-- ---------------- list of gigs --------------------------- -->

    {% for gig in filter.qs %}
                <div class="row directory_entry m-2">
                    <div class="col">
                        <a id="{{ gig.gig_id }}_gig" href="{% url 'gig_detail' gig.gig_id %}">
                        <p id="{{ gig.gig_id }}_gig_date">{{ gig.gig_date }}</p>
                        </a>

                    </div>
                    <div class="col">
                        <a id="{{ gig.gig_id }}_venue" href="{% url 'venue_detail' gig.gig_venue.venue_id %}">
                            <p id="{{ gig.gig_id }}_gig_venue">{{ gig.gig_venue }}</p>
                            <p id="{{ gig.gig_id }}_gig_town">{{ gig.gig_venue.venue_town }}</p>
                        </a>
                    </div>
                    <div class="col">
                        <a id="{{ gig.gig_id }}_artist" href="{% url 'artist_detail' gig.gig_artist.artist_id %}">
                            <p id="{{ gig.gig_id }}_gig_artist">{{ gig.gig_artist }}</p>
                        </a>
                    </div>
                </div>
            <span class="line"></span>
        {% endfor %}
    </div>

{% endblock %}
