{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Gigle - Gigs{% endblock %}

{% block headerText %}Gigs{% endblock %}

{% block content %}

    <div class="directory container">
<!-- -----------------filters --------------------------- -->
        <form class="form-inline" action="" method="get">
            {{ filter.form|crispy }}
             <button id="submit" class="btn btn-outline-info" type="submit">Go!</button>
        </form>

<!-- ---------------- list of gigs --------------------------- -->

    {% for gig in filter.qs %}
                <div class="row directory_entry m-2">
                    <div class="col">
                        <a id="{{ gig.gig_id }}_gig" href="{% url 'gig_detail' gig.gig_id %}">
                        <p id="{{ gig.gig_id }}_gig_date">{{ gig.gig_date }}</p>
                        </a>

                    </div>
                    <div class="col">
                        <a id="{{ gig.gig_id }}_venue" href="{% url 'venue_detail' gig.gig_venue.venue_id %}">
                            <p id="{{ gig.gig_id }}_gig_venue">{{ gig.gig_venue }}</p>
                            <p id="{{ gig.gig_id }}_gig_town">{{ gig.gig_venue.venue_town }}</p>
                        </a>
                    </div>
                    <div class="col">
                        <a id="{{ gig.gig_id }}_artist" href="{% url 'artist_detail' gig.gig_artist.artist_id %}">
                            <p id="{{ gig.gig_id }}_gig_artist">{{ gig.gig_artist }}</p>
                        </a>
                    </div>
                </div>
            <span class="line"></span>
        {% endfor %}
    </div>

{% endblock %}
