{% extends "main/base.html" %}
{% load static %}
{% block title %}My Gig requests{% endblock %}

{% block headerText %}My Gig requests{% endblock %}

{% block content %}
<div class='container text-center'>
<h3>Pending Gig requests</h3>
<ul>
    {% for gig_request in object_list %}
    {% if gig_request.gig_request_confirmed != True %}
    <li name="{{gig_request.gig_request_name }}">
      <a href='{% url 'gig_request_detail' gig_request.gig_request_id %}'>{{ gig_request.gig_request_name }}
      -  {{ gig_request.gig_request_artist }} @ {{ gig_request.gig_request_venue }}</a>
    {% endif %}
        {% empty %}
          <li>We didn't find anything!</li>
{% endfor %}
</ul>
<h3>Accepted Gig requests</h3>
<ul>
    {% for gig_request in object_list %}
    {% if gig_request.gig_request_confirmed %}
    <li name="{{gig_request.gig_request_name }}">
      <a href='{% url 'gig_request_detail' gig_request.gig_request_id %}'>{{ gig_request.gig_request_name }}
      -  {{ gig_request.gig_request_artist }} @ {{ gig_request.gig_request_venue }}</a>
    {% endif %}


    </li>
{% endfor %}
</ul>
</div>
{% endblock %}
