{% extends "main/base.html" %}
{% load static %}
{% block title %}My Gigs{% endblock %}

{% block headerText %}My Gigs{% endblock %}

{% block content %}

<ul>
    {% for gig in object_list %}
    <li id="link_{{ gig.gig_name }}">
      <a href='{% url 'gig_detail' gig.gig_id %}'>{{ gig.gig_name }}
      -  {{ gig.gig_artist }} @ {{ gig.gig_venue }} on {{ gig.gig_date }}</a>

    {% empty %}
        <li>We didn't find anything!</li>
    {% endfor %}
</ul>

<a id="create_gig" href="{% url 'gig_create' %}"><button class="alert alert-info">Create a new gig</button></a>
{% endblock %}
