{% extends "main/base.html" %}
{% load static %}
{% block title %}My Gigs{% endblock %}

{% block headerText %}My Gigs{% endblock %}

{% block content %}

<div class="directory container">
    {% for gig in object_list %}
            <div class="row">
                <div class="col">
                    <a id="{{ gig.gig_id }}_gig" href="{% url 'gig_detail' gig.gig_id %}">
                    <p id="{{ gig.gig_id }}_gig_date">{{ gig.gig_date }}</p>
                    </a>

                </div>
                <div class="col">
                    <a id="{{ gig.gig_id }}_venue" href="{% url 'venue_detail' gig.gig_venue.venue_id %}">
                        <p id="{{ gig.gig_id }}_gig_venue">{{ gig.gig_venue }}</p>
                        <p id="{{ gig.gig_id }}_gig_town">{{ gig.gig_venue.venue_town }}</p>
                    </a>
                </div>
                <div class="col">
                    <a id="{{ gig.gig_id }}_artist" href="{% url 'artist_detail' gig.gig_artist.artist_id %}">
                        <p id="{{ gig.gig_id }}_gig_artist">{{ gig.gig_artist }}</p>
                    </a>
                </div>
            </div>
        <span class="line"></span>
    {% endfor %}
    <a id="create_gig" href="{% url 'gig_create' %}"><button class="btn btn-outline-primary">Create a new gig</button></a>
</div>

</div>
</div>


{% endblock %}
